.bb {
  background-color: rebeccapurple;
}



.projects__div {
  color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  /* background-color: white; */
}

.h2__projects{
  color: #C0C0C0	;
}

.angels__projects {
  border: 0px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  /* background-color: white; */
  background: rgb(255, 165, 0);
  background: linear-gradient(
    132deg,
    rgba(255, 165, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 165, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.stepup__projects {
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.stepup__projects :hover {
  cursor: pointer;
}

.img__projects {
  height: 174px;
  width: 200px;
  align-self: center;
  padding: 5px;
  margin: 0.1rem;
}

.label__projects {
  font-weight: bolder;
  font-size: larger;
}

.p__projects {
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: 450;
  margin-top: 0.5rem;
}

.img__back-card {
  width: 264px;
  height: 480px;
  border-radius: 8px;
}
