.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.appopen{
  display: flex;
  min-height: 100vh;
  padding-top: 30px;
  justify-content: center;
}


.card {
  background: linear-gradient(130deg, #100c09 -30.29%, #222222 72.71%);
  padding: 3rem 2rem;
  height: 50vh;
}

.photo__img {
  max-width: 250px;
  height: auto;
  text-align: center;
  border-radius: 150px;
}
.img-divv{

  max-width: 250px;
  
}

.none{
  display: none;
}


.div__card--title-h1 {
  text-align: center;
  padding-bottom: 2rem;
  color: orange;
  font-size: 3rem;
}

.div__card--closed {
  display: flex;
}

.div__card--closed-h3 {
  height: auto;
  min-width: 250px;
  text-align: center;
  color: orange;
}

.div__card--closed-p {
  width: 500px;
  color: white;
  text-align: end;
}

.div__card--closed-h3-about  {
  text-align: center;
  width: 500px;
  color: orange;
}

.div__card--closed-h4-p-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 37vh;
}



.div__card--closed-ellipse {
  width: auto;
  display: flex;
  flex-direction: column;
}

.ww {
  width: auto;
  align-self: flex-end;
}

.label__phone{
  display: flex;
  justify-content: flex-end;
  color: white;
  /* flex-direction: column; */
  font-size: 16px;
}

.div__card--closed-email{
  padding: 10px;
  display: flex;
  align-items: center;
}

.ss{
  color: rgb(227, 137, 57);
  letter-spacing: 20rem;
  
  
}

.label__phone-div{
  padding: 10px;
  display: flex;
  align-items: center;
}


.div__card-open{
  width: 1800px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.card__open-img{
  display: flex;
  justify-content: center;
  align-self: center;

  max-width: 300px;
}



/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
