.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: linear-gradient(130deg, #100c09 -30.29%, #222222 72.71%);
  padding: 3rem 2rem;
  height: 50vh;
}

.photo__img {
  max-width: 300px;
  height: auto;
  text-align: center;
}

.div__card--title-h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.div__card--closed {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

.div__card--closed-h3 {
  height: auto;
  min-width: 300px;
  text-align: center;
}

.div__card--closed-p {
  width: 500px;
  /* align-items: center;
  display: flex; */
}

.div__card--closed-h4 {
  text-align: center;
  width: 500px;
}

.div__card--closed-h4-p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}

.div__card--closed-ellipse {
  /* max-width: 800px;
  display: none; */
}



/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
