.blob-title {
  /* display: flex;
  align-items: center;
  align-self: center; */
  width: 2000px;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 10000; */
  /* background-color: wheat; */
}

#my__card-open {
  /* box-shadow: 10px 10px 25px black; */
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  /* background-color: #330033; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
  /* background-color: white; */
  height: 400vh;
  /* transition: 0.6s all ease; */
  z-index: 0;
}

#my__card {
  /* animation: mymove 1s infinite ease-in-out; */
  /* box-shadow: 1px 1px 30px white; */
  transition: 0.8s all;
  z-index: 0;
  background: none;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  /* position: relative; */
}

#my__card:hover {
  scale: 1.1;
  transition: 0.6 all ease;
  z-index: 10;
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat; /* box-shadow: 1px 1px 30px white; */
  /* animation: mymove 1s infinite ease-in-out; */
  /* first :  direction of the animation
       second:
       last: for how dence the light is
        */
}
@keyframes mymove {
  50% {
    box-shadow: 1px 1px 30px black;
  }
}

.appopen {
  display: flex;
  padding-top: 30px;
  height: fit-content;
  justify-content: center;
  padding-bottom: 30px;
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  z-index: 35000;
}

.card {
  background: var(--primary);
  padding: 3rem 2rem;
  height: fit-content;
  transform: none;
  /* z-index: 100000; */
}

.card:hover {
  cursor: pointer;
}

.img-divv {
  max-width: 250px;
  transform: none;
}
.div__card--closed-h4-p-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 37vh;
  transform: none;
}
.photo__img {
  max-width: 250px;
  height: auto;
  text-align: center;
  border-radius: 150px;
  transform: none;
}

.none {
  display: none;
  transform: none;
}

.div__card--title-h1 {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--title);
  font-size: 3rem;
  transform: none;
}

.div__card--closed {
  display: flex;
  transform: none;
}

.div__card--closed-h3 {
  height: auto;
  min-width: 250px;
  text-align: center;
  color: var(--title);
  transform: none;
}

.div__card--closed-p {
  width: 500px;
  color: var(--paragraph);
  text-align: end;
  transform: none;
}

.div__card--closed-h3-about {
  text-align: center;
  width: 500px;
  color: var(--title);
  transform: none;
}
.div__card--open-h2-about {
  text-align: center;
  color: var(--title);
  font-size: 30px;
}

.div__card--open-div {
  width: 1500px;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rebeccapurple; */
}

.div__open-p {
  display: flex;
  color: var(--paragraph);
  font-size: 20px;
  width: 1300px;
  align-self: center;
}

.div__card--closed-ellipse {
  width: auto;
  display: flex;
  transform: none;
  flex-direction: column;
}

.ww {
  width: auto;
  align-self: flex-end;
}

.h1-none {
  display: none;
  transform: none;
}

.label__phone {
  display: flex;
  justify-content: flex-end;
  color: var(--paragraph);
  font-size: 16px;
}

.div__card--closed-email {
  padding: 10px;
  display: flex;
  align-items: center;
}

.ss {
  color: linear-gradient(
    132deg,
    rgba(255, 165, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 165, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  letter-spacing: 20rem;
}

.label__phone-div {
  padding: 10px;
  display: flex;
  align-items: center;
}

.div__card-open {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/blackEllipse.png");
  background-repeat: no-repeat;
  background-size: contain;

  /* height: 200vh; */
}

.card__open-img {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 400px;
  border-radius: 150px;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper .static-txt {
  font-size: 60px;
  font-weight: 400;
  color: white;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: var(--title);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 120%;
  width: 100%;
  border-left: 2px solid orange;
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  /* background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
  /* background: white; */
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* Projects css */
.div__open-h2-projects {
  text-align: center;
}

.div__open-h2-div {
  /* background-color: var(--secondary); */
  background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(255, 165, 0, 1) 8%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(255, 165, 0, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );

  /* background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 1) 2%,
    white 8%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    white 70%,
    rgba(0, 0, 0, 1) 100%
  ); */
  border-radius: 12px;
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: var(--title);
}

.card__z-index :hover {
  cursor: pointer;
}

.blob__card-div {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  z-index: 2;
}

.blob-string-div {
  display: flex;
  /* justify-content: flex-end; */
}

.string-color {
  height: 1vh;
  width: 1000px;
  background-color: black;
  align-self: center;
  display: flex;
  z-index: 1;
  position: absolute;
  left: 300px;
}

.blob__card-div-skills {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.blob__card-div-skillss {
  /* position: absolute; */
  /* z-index: -1; */
  width: 700px;
  height: 20vh;
  /* background: grey; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  animation: bounceA 1.33s ease-in 0s infinite alternate;
  display: flex;
  align-self: center;
  overflow: hidden;
}
.blobb-title {
  animation: bounce 3.14s linear 0s infinite alternate;
  border-radius: 60%;
  /* background-color: rebeccapurple; */
}

/* .blobb-title:hover {
  animation: none;
} */

.bounceA {
  animation: bounceA 1.33s ease-in 0s infinite alternate;
  /* background-color: yellow; */
}

@keyframes bounce {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(calc(100vw - 130vmin));
  }
}

@keyframes bounceA {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(calc(20vw - 28vmin));
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

#cloudz-index {
  z-index: 10;
  /* width: 100%; */
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

.img-moon {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

.skills_div-content {
  background: grey
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: var(--paragraph);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.skills_div-content li {
  list-style-type: none;
}

.headers_skills-div {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: grey
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

.h2_skills {
  color: var(--title);
  font-size: 30px;
  width: 350px;
  text-align: center;
}

.containers_div {
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
}

.frontend_div {
  background: var(--background_container);
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.backend_div {
  background: var(--background_container);
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* border: 2px solid red; */
}

.others_div {
  background: var(--background_container);
  width: 350px;
  height: 350px;
  display: flex;
  /* text-align: center; */
  justify-content: flex-start;
  /* border: 2px solid red; */
  /* box-shadow: 20px rebeccapurple; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.footer_open-div {
  height: 130vh;
  display: flex;
  /* background-color: rebeccapurple; */
  justify-content: flex-end;
  flex-direction: column;
}

.img-agile {
  width: 16px;
  height: 16px;
  color: orange;
  background-color: orange;
  fill: orange;
}

.react-icons-div {
  display: flex;
  align-items: center;
  color: var(--title);
  font-size: 30px;
  margin: 10px;
}

.color-skills {
  color: var(--paragraph);
  font-size: 20px;
  margin-left: 0.5rem;
}

/* .ul_skills-width{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 
<svg
version="1.1"
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 500 500"
width="20%"
id="blobSvg"
filter="blur(0px)"
style={{ opacity: 1 }}
// transform="rotate(0)"
className="blobb-title bounceA"
>
{" "}
<defs>
  {" "}
  <linearGradient
    id="gradient"
    x1="0%"
    y1="0%"
    x2="0%"
    y2="100%"
  >
    {" "}
    <stop
      offset="0%"
      style={{ stopColor: "rgb(0, 0, 0)" }}
    ></stop>{" "}
    <stop
      offset="100%"
      style={{ stopColor: "rgb(0, 0, 0)" }}
    ></stop>{" "}
  </linearGradient>{" "}
</defs>{" "}
<path id="blobSvg" fill="white" style={{ opacity: 1 }}>
  <animate
    attributeName="d"
    dur="5s"
    repeatCount="indefinite"
    values="M388.67097,319.27849Q360.55699,388.55699,291.23441,379.72688Q221.91183,370.89678,145.00645,354.28387Q68.10108,337.67097,71.32903,251.33548Q74.55699,165,142.39247,119.95591Q210.22796,74.91183,286.12043,91.61398Q362.0129,108.31613,389.39892,179.15806Q416.78495,250,388.67097,319.27849Z;M420.7122,331.4339Q380.09423,412.86779,301.16508,392.29219Q222.23594,371.7166,157.11322,349.24982Q91.99051,326.78305,53.64135,232.38203Q15.29219,137.98101,118.09898,129.47187Q220.90577,120.96273,294.67458,111.25967Q368.44339,101.55661,414.88678,175.77831Q461.33017,250,420.7122,331.4339Z;M390.7302,319.10952Q360.37524,388.21905,284.62068,409.39959Q208.86612,430.58014,161.11156,373.20082Q113.35701,315.8215,88.46857,238.04463Q63.58014,160.26776,136.76776,117.04463Q209.95537,73.8215,303.79007,69.52027Q397.62476,65.21905,409.35497,157.60952Q421.08517,250,390.7302,319.10952Z;M400,314Q352,378,277,420Q202,462,143,396Q84,330,66.5,241.5Q49,153,125.5,97.5Q202,42,298.5,55Q395,68,421.5,159Q448,250,400,314Z;M429.79847,339.54154Q392.67727,429.08308,294.97368,455.00137Q197.27008,480.91966,143.94598,403.56786Q90.62188,326.21607,83.52769,246.22992Q76.43351,166.24376,136.8518,92.77008Q197.27008,19.29641,287.1482,55Q377.02632,90.70359,421.97299,170.3518Q466.91966,250,429.79847,339.54154Z;M411.71818,339.87391Q393.61186,429.74783,302.23794,426.16285Q210.86403,422.57787,122.32727,388.31581Q33.79051,354.05375,61.55534,263.35692Q89.32016,172.66008,145.95613,107.46324Q202.59209,42.2664,289.95613,66.5581Q377.32016,90.8498,403.57233,170.4249Q429.82451,250,411.71818,339.87391Z;M436.87032,349.05548Q408.4258,448.11097,306.06935,451.62968Q203.7129,455.14839,157.4258,385.87516Q111.13871,316.60194,93.22677,241.12968Q75.31484,165.65742,135.48613,87.80097Q195.65742,9.94452,281.80097,56.34258Q367.94452,102.74064,416.62968,176.37032Q465.31484,250,436.87032,349.05548Z;M392.2525,331.53996Q379.05994,413.07992,285.7525,456.15485Q192.44505,499.22978,100.80019,432.44731Q9.15533,365.66484,30.81018,260.57493Q52.46503,155.48501,121.45005,74.10764Q190.43506,-7.26974,268.13261,60.97003Q345.83016,129.2098,375.63761,189.6049Q405.44505,250,392.2525,331.53996Z;M388.67097,319.27849Q360.55699,388.55699,291.23441,379.72688Q221.91183,370.89678,145.00645,354.28387Q68.10108,337.67097,71.32903,251.33548Q74.55699,165,142.39247,119.95591Q210.22796,74.91183,286.12043,91.61398Q362.0129,108.31613,389.39892,179.15806Q416.78495,250,388.67097,319.27849Z"
  ></animate>
</path>

</svg> */
